<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <!-- wp_head -->

        <!-- This site is optimized with the Yoast SEO plugin v15.6.2 - https://yoast.com/wordpress/plugins/seo/ -->
        <title>About us - Climax Tech Solution</title>
        <meta name="robots" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1" />
        {% include 'header-link.html' %}
        
        
 
        <link rel='stylesheet' id='themify-builder-13-generated-fonts-css'
            href='http://fonts.googleapis.com/css?family=Playfair+Display:900italic&#038;subset=latin' type='text/css'
            media='all' />
        <link rel='stylesheet' id='themify-builder-13-generated-css'
            href='/static/css/about.min.css'
            type='text/css' media='all' />
        <link rel='stylesheet' id='themify-google-fonts-css'
            href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,400i,500,600,700&#038;subset=latin'
            type='text/css' media='all' />

    </head>

    <body
        class="page-template-default page page-id-13 themify-fw-4-9-1 themify-ultra-2-8-2 skin-yoga webkit not-ie full_width sidebar-none no-home no-touch builder-parallax-scrolling-active ready-view header-top-widgets fixed-header footer-left-col  tagline-off rss-off search-off tile_enable filter-hover-none filter-featured-only masonry-enabled">

        <script type="text/javascript">
            function themifyMobileMenuTrigger(e) {
                var w = document.body.clientWidth;
                if (w > 0 && w <= tf_mobile_menu_trigger_point) {
                    document.body.classList.add('mobile_menu_active');
                } else {
                    document.body.classList.remove('mobile_menu_active');
                }

            }
            themifyMobileMenuTrigger();
            var _init = function () {
                jQuery(window).on('tfsmartresize.tf_mobile_menu', themifyMobileMenuTrigger);
                document.removeEventListener('DOMContentLoaded', _init, { once: true, passive: true });
                _init = null;
            };
            document.addEventListener('DOMContentLoaded', _init, { once: true, passive: true });
        </script>
        <div id="pagewrap" class="hfeed site">

            {% include 'header.html' %}
            <div id="body" class="clearfix">



                <!-- layout-container -->
                <div id="layout" class="pagewidth clearfix">

                    <!-- content -->
                    <div id="content" class="clearfix">


                        <div id="page-13" class="type-page">

                            <!-- page-title -->
                            <!-- /page-title -->

                            <div class="page-content entry-content">


                                <link rel="preload"
                                    href="/static/css/a.min.css"
                                    as="style" data-no-minify="1" />
                                <script type="text/javascript">
                                    if (document.getElementById("themify-builder-style") === null) {
                                        var el = document.getElementById("builder-styles-css");
                                        if (el !== null) {
                                            var link = document.createElement("link");
                                            link.id = "themify-builder-style";
                                            link.rel = "stylesheet";
                                            link.type = "text/css";
                                            link.href = el.getAttribute("data-href");
                                            el.parentNode.replaceChild(link, el);
                                        }
                                    }
                                </script>
                                <div id="themify_builder_content-13" data-postid="13"
                                    class="themify_builder_content themify_builder_content-13 themify_builder">
                                    <!-- module_row -->
                                    <div data-tablet-padding="5%,5%"
                                        class="themify_builder_row module_row clearfix fullcover fullwidth_row_container module_row_0 themify_builder_13_row module_row_13-0 tb_zi7c562">
                                        <div class="tb_row_frame tb_row_frame_bottom in_front"></div>
                                        <div class="row_inner col_align_top" data-basecol="2"
                                            data-col_tablet="column4-2" data-col_tablet_landscape="column4-2"
                                            data-col_mobile="column-full">
                                            <div
                                                class="module_column tb-column col4-2 first tb_13_column module_column_0 module_column_13-0-0 tb_p3t2563">
                                                <div class="tb-column-inner">
                                                    <!-- module text -->
                                                    <div class="module module-text tb_aord563    ">
                                                        <div class="tb_text_wrap">
                                                            <br />
                                                        </div>
                                                    </div>
                                                    <!-- /module text -->
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_13_column module_column_1 module_column_13-0-1 tb_5h16563">
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-two lft-rght-gap-row module_row_1 themify_builder_13_row module_row_13-1 tb_ob24181">
                                        <div class="row_inner col_align_top gutter-none">
                                            <div class="module_column tb-column col4-1 first tb_13_column module_column_0 module_column_13-1-0 tb_5ed2182"
                                                style="width: 14%">
                                            </div>
                                            <div class="module_column tb-column col4-2 middle tb_13_column module_column_1 module_column_13-1-1 tb_14le182"
                                                style="width: 72%">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_4gdi182  ">
                                                        <div class="tb_text_wrap">
                                                            <h2>Who we are</h2>
                                                            <p>Climax Tech Solutions is legally registered Company in Republic of Tanzania
                                                            that specialized in the provision of cost effective Installation and Maintenance of
                                                            Cctv Security Camera, GPS Tracking,Biometric attendance systems,Automatic
                                                            Motor Gate,Electrical Fence,PBX Telephone systems,Supply of ICT Equipment,
                                                            Creative Graphics Designing, Quality Printing i.e Annual reports,Brochures,
                                                            Fliers, ID, Banners etc and Other IT Solutions.</p>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                            <div class="module_column tb-column col4-1 last tb_13_column module_column_2 module_column_13-1-2 tb_mb98182"
                                                style="width: 14%">
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!--  -->
                                    <div class="themify_builder_row module_row clearfix module_row_3 themify_builder_13_row module_row_13-3 tb_uqje897">
                                        <div class="row_inner col_align_top gutter-none col_auto_height" data-basecol="2" data-col_tablet="column4-2">
                                            <div class="module_column tb-column col4-2 first tb_13_column module_column_0 module_column_13-3-0 tb_t034901">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_ajno906  ">
                                                        <div class="tb_text_wrap">
                                                            <img src="/static/images/cam1.jpg" alt="">
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                            <div class="module_column tb-column col4-2 last tb_13_column module_column_1 module_column_13-3-1 tb_w4qv908">
                                                <div class="tb-column-inner">
                                                    <div style="padding: 50px; border-radius: 20px;box-shadow: 4px 1px 4px 1px #aacde8;"
                                                        class="themify_builder_sub_row module_subrow clearfix repeat sub_row_3-1-0 tb_6jkg911">
                                                        <div class="subrow_inner col_align_top">
                                                            <div
                                                                class="sub_column module_column col-full first sub_column_post_13 sub_column_3-1-0-0 tb_hdnu912">
                                                                <div class="tb-column-inner">
                                                                    <h2 id="contactsec">Vision</h2>
                                                                    <p style="text-align: justify;">

                                                                        “To become a leading Information Technology (IT) Company offering the best,
                                                                        reliable, valued added solutions to its consumers and stakeholders. ”
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!--  -->
                                    <div
                                        class="themify_builder_row module_row clearfix module_row_3 themify_builder_13_row module_row_13-3 tb_uqje897">
                                        <div class="row_inner col_align_top gutter-none col_auto_height"
                                            data-basecol="2" data-col_tablet="column4-2">
                                            <div
                                                class="module_column tb-column col4-2 first tb_13_column module_column_0 module_column_13-3-0 tb_t034901">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_ajno906  ">
                                                        <div class="tb_text_wrap">
                                                            <div style="padding: 50px; border-radius: 20px;box-shadow: 1px 1px 10px 1px #aacde8;">
                                                                <h2 id="contactsec">Core values</h2>
                                                                <p style="text-align: justify;margin-right: 20px;">
                                                                    
                                                                    As Climax Tech Solutions we value integrity, honesty, openness, personal
                                                                    excellence, constructive self-criticism, continual self-improvement, and mutual
                                                                    respect. We are committed to our customers and partners and have a passion
                                                                    for technology. We take on big challenges, and pride ourselves on seeing them
                                                                    through. We hold ourselves accountable to our customers, shareholders,
                                                                    partners, and employees by honoring our commitments, providing results,
                                                                    and striving for the highest quality.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_13_column module_column_1 module_column_13-3-1 tb_w4qv908">
                                                <div class="tb-column-inner">
                                                    <div style="padding: 50px; border-radius: 20px;box-shadow: 1px 1px 10px 1px #aacde8;"
                                                        class="themify_builder_sub_row module_subrow clearfix repeat sub_row_3-1-0 tb_6jkg911">
                                                        <div class="subrow_inner col_align_top">
                                                            <div
                                                                class="sub_column module_column col-full first sub_column_post_13 sub_column_3-1-0-0 tb_hdnu912">
                                                                <div class="tb-column-inner">
                                                                    <h2 id="contactsec">Mission</h2>
                                                                    <p style="text-align: justify;">
                                                                    
                                                                    “Committed to provide sustainable quality,ensuring stakeholder satisfaction, by
                                                                    delivering customized solutions through employee reactions,customer relationships, policy implementation and brand
                                                                    awareness”
                                                                    </p>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                                                    <div style="margin-top: 70px;"></div>
                                                                    <div class="module module-text tb_fvz6892    ">
                                                                        <div class="tb_text_wrap">
                                                                            <h2 style="text-align: center;">Our Partners</h2>
                                                                        </div>
                                                                    </div>
                                                                    <style>
                                                                        .dt {
                                                                            border: solid 2px black;
                                                                            border-radius: 10px;
                                                                            /* padding: 20px; */
                                                                        }
                                                                    </style>
                                                                    <div style="padding: 20px; text-align: center;">
                                                                        <div class="col3-1 first " style="padding: 20px;">
                                                                            <img src="/static/images/partners/p1.jpg" class="dt" alt="">
                                                                        </div>
                                                                        <div class="col3-1" style="padding: 20px;">
                                                                            <img src="/static/images/partners/p2.jpg" class="dt" alt="">
                                                                        </div>
                                                                    
                                                                        <div class="col3-1" style="padding: 20px;">
                                                                            <img src="/static/images/partners/p3.jpg" class="dt" alt="">
                                                                        </div>
                                                                    </div>
                                                                    <div style="padding: 20px; text-align: center;">
                                                                        <div class="col3-1 first" style="padding: 20px;">
                                                                            <img src="/static/images/partners/p4.jpg" class="dt" alt="">
                                                                        </div>
                                                                        <div class="col3-1" style="padding: 20px;">
                                                                            <img src="/static/images/partners/p5.jpg" class="dt" alt="">
                                                                        </div>
                                                                    
                                                                        <div class="col3-1" style="padding: 20px;">
                                                                            <img src="/static/images/partners/p6.jpg" class="dt" alt="">
                                                                        </div>
                                                                    </div>
                                                                    </div>
                                </div>

                            </div>
                            <!-- /.post-content -->

                        </div><!-- /.type-page -->


                    </div>
                    <!-- /content -->

                </div>
                <!-- /layout-container -->

            </div><!-- /body -->

            

        </div><!-- /#pagewrap -->


        
    </body>
    {% include 'footer.html' %}
</html>
