
<style>
    .themify_builder .wow {
        visibility: hidden;
    }

    div:not(.caroufredsel_wrapper)>.themify_builder_slider>li:not(:first-child),
    .mfp-hide {
        display: none;
    }

    a.themify_lightbox,
    .module-gallery a,
    .gallery-icon,
    .themify_lightboxed_images .post a[href$="jpg"],
    .themify_lightboxed_images .post a[href$="gif"],
    .themify_lightboxed_images .post a[href$="png"],
    .themify_lightboxed_images .post a[href$="JPG"],
    .themify_lightboxed_images .post a[href$="GIF"],
    .themify_lightboxed_images .post a[href$="PNG"],
    .themify_lightboxed_images .post a[href$="jpeg"],
    .themify_lightboxed_images .post a[href$="JPEG"] {
        cursor: not-allowed;
    }

    .themify_lightbox_loaded a.themify_lightbox,
    .themify_lightbox_loaded .module-gallery a,
    .themify_lightbox_loaded .gallery-icon {
        cursor: pointer;
    }

</style>
<style type="text/css">
    img.wp-smiley,
    img.emoji {
        display: inline !important;
        border: none !important;
        box-shadow: none !important;
        height: 1em !important;
        width: 1em !important;
        margin: 0 .07em !important;
        vertical-align: -0.1em !important;
        background: none !important;
        padding: 0 !important;
    }

</style>

<link rel='stylesheet' id='themify-common-css'
    href='/static/css/common.min.css'
    type='text/css' media='all' />
<meta name="themify-framework-css"
    data-href="/static/css/framework.min.css" content="themify-framework-css" id="themify-framework-css" />
        
<meta name="builder-styles-css"
    data-href="/static/css/style1.min.css"
    content="builder-styles-css" id="builder-styles-css" />

<link rel='stylesheet' id='wp-block-library-css'
    href='/static/css/style2.min.css' type='text/css'
    media='all' />

<link rel='stylesheet' id='theme-style-css'
    href='/static/css/theme1.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='themify-media-queries-css'
    href='/static/css/theme2.min.css' type='text/css'
    media='all' />
<link rel='stylesheet' id='ultra-header-css'
    href='/static/css/theme3.min.css'
    type='text/css' media='all' />
<link rel='stylesheet' id='themify-skin-css'
    href='/static/css/theme4.min.css' type='text/css'
    media='all' />
        

<link rel='stylesheet' id='sccss_style-css' href='/static/css/cs.scss' type='text/css'
    media='all' />
        
<script type='text/javascript' src='/static/js/jquery.min.js'
    id='jquery-core-js'></script>
<script type='text/javascript' src='/static/js/second.min.js'
    id='jquery-migrate-js'></script>
<script type='text/javascript' src='//cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js?ver=5.6.5'
    id='jquery-easing-js'></script>

        <link href="/static/images/icon.png" rel="shortcut icon" />
        
        

<link rel="preconnect" href="https://fonts.googleapis.com" crossorigin />

<script type="text/javascript">
    var tf_mobile_menu_trigger_point = 1000;
</script>

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>
    @-webkit-keyframes themifyAnimatedBG {
        0% {
            background-color: #33baab;
        }

        100% {
            background-color: #e33b9e;
        }

        50% {
            background-color: #4961d7;
        }

        33.3% {
            background-color: #2ea85c;
        }

        25% {
            background-color: #2bb8ed;
        }

        20% {
            background-color: #dd5135;
        }

    }

    @keyframes themifyAnimatedBG {
        0% {
            background-color: #33baab;
        }

        100% {
            background-color: #e33b9e;
        }

        50% {
            background-color: #4961d7;
        }

        33.3% {
            background-color: #2ea85c;
        }

        25% {
            background-color: #2bb8ed;
        }

        20% {
            background-color: #dd5135;
        }

    }

    .themify_builder_row.animated-bg {
        -webkit-animation: themifyAnimatedBG 30000ms infinite alternate;
        animation: themifyAnimatedBG 30000ms infinite alternate;
    }

</style>
                
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'G-KJ35Y0RJ6F');
</script>
