<div id="headerwrap" style="background: linear-gradient(#f4f9fb, #e7f1f8) ;color: black;">
    <div class="header-icons">
        <a id="menu-icon" href="#mobile-menu" aria-label="Menu"><span class="menu-icon-inner"></span></a>
    </div>

    <header id="header" class="pagewidth clearfix" itemscope="itemscope" itemtype="https://schema.org/WPHeader">


        <div class="header-bar">
            <div id="site-logo"><a href="/" title="IT Best Solution"><img
                        src="/static/images/logo2.png"
                        alt="IT Best Solution" title="logo-small-web" /></a></div>
        </div>
        <!-- /.header-bar -->

        <div id="mobile-menu" class="sidemenu sidemenu-off">


            <div class="navbar-wrapper clearfix">

                <div class="social-widget">

                </div>
                <!-- /.social-widget -->


                <nav id="main-nav-wrap" itemscope="itemscope" itemtype="https://schema.org/SiteNavigationElement">
                    <ul id="main-nav" class="main-nav menu-name-main-navigation">
                        <li id='menu-item-28'
                            class="menu-item menu-item-type-post_type menu-item-object-page ">
                            <a href="/">Home</a>
                        </li>
                        <li id='menu-item-483' class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                href="/about-us/">About Us</a> </li>
                        <li id='menu-item-405'
                            class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-sub-menu has-sub-menu">
                            <a href="/services/">Services</a>
                        </li>
                        <li id='menu-item-34' class="menu-item menu-item-type-post_type menu-item-object-page"><a
                                href="/contact-us/">Contact</a> </li>
                    </ul> <!-- /#main-nav -->
                </nav>
                <!-- /#main-nav-wrap -->

            </div>

            <a id="menu-icon-close" aria-label="Close menu" href="#"></a>

        </div><!-- #mobile-menu -->
        <!-- /#mobile-menu -->




    </header>
    <!-- /#header -->


</div>
