<!DOCTYPE html>
<html lang="en-US">

    <head>
        <meta charset="UTF-8" />
        <!-- wp_head -->

        <!-- This site is optimized with the Yoast SEO plugin v15.6.2 - https://yoast.com/wordpress/plugins/seo/ -->
        <title>CCTV Camera System Installation - Climax Tech Solution</title>
        <meta name="description"
            content="Our client our focus. We creat the best designed and develpoment website. Our IT Best Solution leading digital marketing service. We have experience working with various companies. Our vision is to identify opportunities and challengs. We have been able to deliver personalized services with efficiency and effectiveness. We use modern web technologies. We also provide complete branding solution and digital strategies for your business." />
        
        {% include 'header-link.html' %}
        
        
  

        <link rel='stylesheet' id='themify-builder-16-generated-fonts-css'
            href='http://fonts.googleapis.com/css?family=Playfair+Display:900italic,700italic&#038;subset=latin'
            type='text/css' media='all' />

        <link rel='stylesheet' id='themify-builder-16-generated-css'
            href='/static/css/home.min.css'
            type='text/css' media='all' />
            
        <link rel='stylesheet' id='themify-google-fonts-css'
            href='http://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i,900,900i|Poppins:300,400,400i,500,600,700&#038;subset=latin'
            type='text/css' media='all' />


    </head>

    <body
        class="home page-template-default page page-id-16 themify-fw-4-9-1 themify-ultra-2-8-2 skin-yoga webkit not-ie full_width sidebar-none no-touch builder-parallax-scrolling-active ready-view header-top-widgets fixed-header transparent-header footer-left-col  tagline-off rss-off search-off tile_enable filter-hover-none filter-featured-only masonry-enabled">

        <script type="text/javascript">
            function themifyMobileMenuTrigger(e) {
                var w = document.body.clientWidth;
                if (w > 0 && w <= tf_mobile_menu_trigger_point) {
                    document.body.classList.add('mobile_menu_active');
                } else {
                    document.body.classList.remove('mobile_menu_active');
                }

            }
            themifyMobileMenuTrigger();
            var _init = function () {
                jQuery(window).on('tfsmartresize.tf_mobile_menu', themifyMobileMenuTrigger);
                document.removeEventListener('DOMContentLoaded', _init, { once: true, passive: true });
                _init = null;
            };
            document.addEventListener('DOMContentLoaded', _init, { once: true, passive: true });
        </script>
        <div id="pagewrap" class="hfeed site">

            {% include 'header.html' %}
            <!-- /#headerwrap -->

            <div id="body" class="clearfix">



                <!-- layout-container -->
                <div id="layout" class="pagewidth clearfix">

                    <!-- content -->
                    <div id="content" class="clearfix">


                        <div id="page-16" class="type-page">

                            <!-- page-title -->
                            <!-- /page-title -->

                            <div class="page-content entry-content">


                                <link rel="preload"
                                    href="/static/css/h1.min.css"
                                    as="style" data-no-minify="1" />
                                <script type="text/javascript">
                                    if (document.getElementById("themify-builder-style") === null) {
                                        var el = document.getElementById("builder-styles-css");
                                        if (el !== null) {
                                            var link = document.createElement("link");
                                            link.id = "themify-builder-style";
                                            link.rel = "stylesheet";
                                            link.type = "text/css";
                                            link.href = el.getAttribute("data-href");
                                            el.parentNode.replaceChild(link, el);
                                        }
                                    }
                                </script>
                                <div id="themify_builder_content-16" data-postid="16"
                                    class="themify_builder_content themify_builder_content-16 themify_builder">
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-one fullcover fullwidth_row_container module_row_0 themify_builder_16_row module_row_16-0 tb_5962345">
                                        <div class="builder_row_cover"></div>
                                        <div class="tb_row_frame tb_row_frame_bottom in_front"></div>
                                        <div class="row_inner col_align_top" data-basecol="2"
                                            data-col_tablet="column4-2" data-col_tablet_landscape="column4-2"
                                            data-col_mobile="column4-2">
                                            <div
                                                class="module_column tb-column col4-2 first tb_16_column module_column_0 module_column_16-0-0 tb_r9be346 repeat">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_0wud906  ">
                                                        <div class="tb_text_wrap">
                                                            <!-- &#038; -->
                                                            <h1>Information Technology <br>Solutions</h1>
                                                            <h4>We don't want to push our ideas on to customers, we simply want to make what they want
                                                            </h4>
                                                            <div style="margin-top: 50px;"></div>
                                                            
                                                            <a href="/about-us/"
                                                                class="org-btn">Read more about us</a>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_16_column module_column_1 module_column_16-0-1 tb_hyh2523">
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-two lft-rght-gap-row module_row_1 themify_builder_16_row module_row_16-1 tb_i72z459">
                                        <div class="row_inner col_align_top gutter-none">
                                            <div class="module_column tb-column col4-1 first tb_16_column module_column_0 module_column_16-1-0 tb_b7t1464"
                                                style="width: 14%">
                                            </div>
                                            <div class="module_column tb-column col4-2 middle tb_16_column module_column_1 module_column_16-1-1 tb_rmfv931"
                                                style="width: 72%">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_bgyy732  ">
                                                        <div class="tb_text_wrap">
                                                            <h2>What we do</h2>
                                                            <!--<p>We help ambitious people/Small business/Big business achieve their dreams ! Dreams of creating their online presence, connecting with different people, making their business go places around the world, sell their products or services via online and eventually help creating memories & spread happiness. So, gear up ! Are you a Home Baker, a Fashion clothing stylist, a Job consultant, A Dentist, An engineer, A teacher or You have a team of 10-10000 people on board ? We are here to serve everyone (Individual or company) with our website consulting, design and development service.</p>-->
                                                            <p>We deals with the provision of cost effective Installation and Maintenance of
                                                            Cctv Security Camera, GPS Tracking,Biometric attendance systems,Automatic
                                                            Motor Gate,Electrical Fence,PBX Telephone systems,Supply of ICT Equipment,
                                                            Creative Graphics Designing, Quality Printing i.e Annual reports,Brochures,
                                                            Fliers, ID, Banners etc and Other IT Solutions.</p>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                            <div class="module_column tb-column col4-1 last tb_16_column module_column_2 module_column_16-1-2 tb_9x2b932"
                                                style="width: 14%">
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->

                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-three repeat-none fullwidth module_row_3 themify_builder_16_row module_row_16-3 tb_44ew381">
                                        <div class="row_inner col_align_middle" data-basecol="2"
                                            data-col_tablet="column4-2" data-col_tablet_landscape="column4-2">
                                            <div
                                                class="module_column tb-column col4-2 first tb_16_column module_column_0 module_column_16-3-0 tb_1mnk382">
                                                <div class="tb-column-inner">
                                                    <!-- module image -->
                                                    <div class="module module-image tb_l7gq638  image-left  ">
                                                        <div class="image-wrap">
                                                            <img src="/static/images/cctv2.png"
                                                                width="700" class=" wp-post-image wp-image-160"
                                                                title="consult-img" alt="IT Best Soluation"
                                                                srcset="/static/images/cctv2.png 700w, /static/images/cctv2.png 268w, /static/images/cctv2.png 750w"
                                                                sizes="(max-width: 700px) 100vw, 700px" />
                                                        </div>
                                                        <!-- /image-wrap -->


                                                    </div>
                                                    <!-- /module image -->
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_16_column module_column_1 module_column_16-3-1 tb_vvc0248">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_wbpj685  ">
                                                        <div class="tb_text_wrap">
                                                            <h2>CCTV Camera System Installation</h2>
                                                            <!--<p>We hear you first, understand your requirements and offer you services as per your exact needs and within your budget.</p>-->
                                                            <p>Climax Tech Solutions is your expert on Video surveillance and
                                                            security camera solutions and we make sure that to visit your place for
                                                            free surveying, custom design, free consultations and Install best Cctv
                                                            camera systems. <br>
                                                        Security camera CCTV systems come in a variety of different image
                                                        resolutions, integration capabilities and use cases, some of security
                                                        camera are used indoors while others are used outdoors, some pan,
                                                        tilt and zoom for broader coverage</p>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <div style="margin-top: 70px;"></div>
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-four repeat-none fullwidth module_row_4 themify_builder_16_row module_row_16-4 tb_kefl920">
                                        <div class="row_inner col_align_top" data-basecol="2"
                                            data-col_tablet="column4-2" data-col_tablet_landscape="column4-2">
                                            <div
                                                class="module_column tb-column col4-2 first tb_16_column module_column_0 module_column_16-4-0 tb_bti8921">
                                                <div class="tb-column-inner">
                                                    <!-- module plain text -->
                                                    <div class="module module-plain-text tb_fjrn509  ">
                                                        <div class="tb_text_wrap">
                                                            <h2>Website design &#038; <br>Development </h2>
                                                            <!--<p>We convert your thoughts and put our expertise into it and come up with a website you will be proud of calling it as your own.</p>-->
                                                            <p>We help ambitious people/Small business/Big business
                                                                achieve their dreams !!! Where you looking to build a
                                                                brand new site or redesign your existing website? We
                                                                always with you for any help. We convert your thoughts
                                                                and put our expertise into it and come up with a website
                                                                you will be proud of calling it as your own.</p>
                                                        </div>
                                                    </div>
                                                    <!-- /module plain text -->
                                                    
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_16_column module_column_1 module_column_16-4-1 tb_o8q4921">
                                                <div class="tb-column-inner">
                                                    <!-- module image -->
                                                    <div class="module module-image tb_epba61  image-right  ">
                                                        <div class="image-wrap">
                                                            <img src="/static/images/im1.jpeg"
                                                                width="700" class=" wp-post-image wp-image-418"
                                                                title="home-web-img" alt="IT Best Solution"
                                                                srcset="/static/images/im1.jpeg 700w, /static/images/im1.jpeg 240w"
                                                                sizes="(max-width: 700px) 100vw, 700px" />
                                                        </div>
                                                        <!-- /image-wrap -->


                                                    </div>
                                                    <!-- /module image -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-six module_row_6 themify_builder_16_row module_row_16-6 tb_lrq5336">
                                        <div class="row_inner col_align_top gutter-none">
                                            <div class="module_column tb-column col3-1 first tb_16_column module_column_0 module_column_16-6-0 tb_zwvb339"
                                                style="width: 11%">
                                            </div>
                                            <div class="module_column tb-column col3-1 middle tb_16_column module_column_1 module_column_16-6-1 tb_xpd8343"
                                                style="width: 79%">
                                                <div class="tb-column-inner">
                                                    <div
                                                        class="themify_builder_sub_row module_subrow clearfix sub_row_6-1-0 tb_ezfb308">
                                                        <div class="subrow_inner gutter-none col_align_middle"
                                                            data-basecol="2" data-col_tablet="column4-2"
                                                            data-col_tablet_landscape="column3-2-3-1"
                                                            data-col_mobile="column-full">
                                                            <div style="width:49%;"
                                                                class="sub_column module_column col3-2 first sub_column_post_16 sub_column_6-1-0-0 tb_2dxy309">
                                                                <div class="tb-column-inner">
                                                                    <!-- module image -->
                                                                    <div
                                                                        class="module module-image tb_qafy309 rounded image-center    auto_fullwidth">
                                                                        <div class="image-wrap">
                                                                            <img src="/static/images/im2.jpeg"
                                                                                width="360"
                                                                                class=" wp-post-image wp-image-419"
                                                                                title="consult-img"
                                                                                alt="IT Best Solution"
                                                                                srcset="/static/images/im2.jpeg 360w, /static/images/im2.jpeg 270w"
                                                                                sizes="(max-width: 360px) 100vw, 360px" />
                                                                        </div>
                                                                        <!-- /image-wrap -->


                                                                    </div>
                                                                    <!-- /module image -->
                                                                </div>
                                                            </div>
                                                            <div style="width:51%;"
                                                                class="sub_column module_column col3-1 last sub_column_post_16 sub_column_6-1-0-1 tb_0h3v310">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div
                                                                        class="module module-text tb_s1dc311  repeat   tb_gs7795e5">
                                                                        <div class="tb_text_wrap">
                                                                            <h3>Are you looking to install security camera systems to protect your
                                                                            home, business or commercial property?</h3>
                                                                            <p>
                                                                                Call: +255 745 775 598
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                            <div class="module_column tb-column col3-1 last tb_16_column module_column_2 module_column_16-6-2 tb_gb14345"
                                                style="width: 10%">
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-seven repeat fullwidth_row_container module_row_7 themify_builder_16_row module_row_16-7 tb_gm21575">
                                        <div class="tb_row_frame tb_row_frame_top "></div>
                                        <div class="tb_row_frame tb_row_frame_bottom "></div>
                                        <div class="row_inner col_align_top">
                                            <div
                                                class="module_column tb-column col-full first tb_16_column module_column_0 module_column_16-7-0 tb_gc2h577">
                                                <div class="tb-column-inner">
                                                    <!-- module text -->
                                                    <div class="module module-text tb_8h37469    ">
                                                        <div class="tb_text_wrap">
                                                            <h2>Main Services</h2>
                                                        </div>
                                                    </div>
                                                    <!-- /module text -->
                                                    <div
                                                        class="themify_builder_sub_row module_subrow clearfix sub_row_7-0-1 tb_r48i626">
                                                        <div class="subrow_inner col_align_top" data-basecol="3"
                                                            data-col_tablet="column3-1"
                                                            data-col_tablet_landscape="column3-1">
                                                            <div
                                                                class="sub_column module_column col3-1 first sub_column_post_16 sub_column_7-0-1-0 tb_431q626 repeat">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div class="module module-text tb_dqjl73    ">
                                                                        <div class="tb_text_wrap">
                                                                            <p><img src="/static/images/picha.png"
                                                                                    alt="website" /></p>
                                                                            <h3>Basic Website Design</h3>
                                                                            
                                                                            <p>Our Dynamic &#038; Static web sites with
                                                                                a professional look, load quickly &#038;
                                                                                offer the latest functionality with the
                                                                                best interactive user experience. We are
                                                                                always ready to give your organization
                                                                                to a powerful design. Looking for a
                                                                                Basic website in limited Budget ?
                                                                                contact with us.</p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                    <!-- module buttons -->
                                                                    <div
                                                                        class="module module-buttons tb_bcrj136 normal solid rounded  ">
                                                                        <div class="module-buttons">
                                                                            <div
                                                                                class="module-buttons-item  buttons-horizontal">
                                                                                <a href="/services/"
                                                                                    class="ui builder_button tb_default_color">
                                                                                    <span>Read more</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module buttons -->
                                                                </div>
                                                            </div>
                                                            <div style="background-color: white;color: black;"
                                                                class="sub_column module_column col3-1 middle sub_column_post_16 sub_column_7-0-1-1 tb_1tpm597 repeat">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div class="module module-text tb_migb599    ">
                                                                        <div class="tb_text_wrap">
                                                                            <p><img src="/static/images/OIP.jpg" width="100px" height="100px"
                                                                                    alt="ecommerce" /></p>
                                                                            <h3 style="color: black!important;">CCTV Camera System Installation</h3>
                                                                  
                                                                            <p style="color: black!important;">
                                                                                Are you looking to install security camera systems to protect your
                                                                                home, business or commercial property? <br>
                                                                                Would you like to see your entire property at a glance from your smartphone and even stop crime before it happens?
                                                                            </p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                    <!-- module buttons -->
                                                                    <div
                                                                        class="module module-buttons tb_sc7g599 normal solid rounded  ">
                                                                        <div class="module-buttons">
                                                                            <div
                                                                                class="module-buttons-item  buttons-horizontal">
                                                                                <a href="/services/"
                                                                                    class="ui builder_button tb_default_color">
                                                                                    <span>Read more</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module buttons -->
                                                                </div>
                                                            </div>
                                                            <div style="background-color: #aacde8;"
                                                                class="sub_column module_column col3-1 last sub_column_post_16 sub_column_7-0-1-2 tb_6w0o931 repeat">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div class="module module-text tb_93dq931    ">
                                                                        <div class="tb_text_wrap">
                                                                            <p><img src="/static/images/information-technology-icon-24.jpg" width="100px" height="100px"
                                                                                    alt="seo and social media" /></p>
                                                                            <h4 style="color: black;">Other Information Technology solutions</h4>
                       
                                                                            <p style="color: black;">GPS Tracking,Biometric attendance systems,Automatic
                                                                            Motor Gate,Electrical Fence,PBX Telephone systems,Supply of ICT Equipment,
                                                                            Creative Graphics Designing, Quality Printing i.e Annual reports,Brochures,
                                                                            Fliers, ID, Banners etc and Other IT Solutions</p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                    <!-- module buttons -->
                                                                    <div
                                                                        class="module module-buttons tb_g387931 normal solid rounded  ">
                                                                        <div class="module-buttons">
                                                                            <div
                                                                                class="module-buttons-item  buttons-horizontal">
                                                                                <a href="/services/"
                                                                                    class="ui builder_button tb_default_color">
                                                                                    <span>Read more</span>
                                                                                </a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module buttons -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-eight repeat fullwidth_row_container module_row_8 themify_builder_16_row module_row_16-8 tb_vkl0885">
                                        <div class="tb_row_frame tb_row_frame_top "></div>
                                        <div class="tb_row_frame tb_row_frame_bottom "></div>
                                        <div class="row_inner col_align_middle" data-basecol="2"
                                            data-col_tablet="column-full">
                                            <div
                                                class="module_column tb-column col4-2 first tb_16_column module_column_0 module_column_16-8-0 tb_va0m887">
                                                <div class="tb-column-inner">
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_16_column module_column_1 module_column_16-8-1 tb_o3gs412">
                                                <div class="tb-column-inner">
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-nine fullwidth_row_container module_row_9 themify_builder_16_row module_row_16-9 tb_fzyj565">
                                        <div class="row_inner col_align_top">
                                            <div
                                                class="module_column tb-column col-full first tb_16_column module_column_0 module_column_16-9-0 tb_wh2s567">
                                                <div class="tb-column-inner">
                                                    <!-- module text -->
                                                    <div class="module module-text tb_fvz6892    ">
                                                        <div class="tb_text_wrap">
                                                            <h2>Graphic Design</h2>
                                                        </div>
                                                    </div>
                                                    <!-- /module text -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                    <!-- module_row -->
                                    <div
                                        class="themify_builder_row module_row clearfix home-row-ten module_row_10 themify_builder_16_row module_row_16-10 tb_3s5v613">
                                        <div class="row_inner col_align_top" data-basecol="2"
                                            data-col_tablet="column-full" data-col_mobile="column-full">
                                            <div
                                                class="module_column tb-column col4-2 first tb_16_column module_column_0 module_column_16-10-0 tb_acn0615">
                                                <div class="tb-column-inner">
                                                    <div
                                                        class="themify_builder_sub_row module_subrow clearfix sub_row_10-0-0 tb_kjc1614">
                                                        <div class="subrow_inner gutter-none col_align_middle"
                                                            data-basecol="2" data-col_tablet="column4-2"
                                                            data-col_tablet_landscape="column3-2-3-1"
                                                            data-col_mobile="column4-2">
                                                            <div style="width:66%;"
                                                                class="sub_column module_column col3-2 first sub_column_post_16 sub_column_10-0-0-0 tb_0mac616">
                                                                <div class="tb-column-inner">
                                                                    <!-- module image -->
                                                                    <div
                                                                        class="module module-image tb_kpaj617 rounded image-top    auto_fullwidth">
                                                                        <div class="image-wrap">
                                                                            <img src="/static/images/r1.jpg"
                                                                                width="353"
                                                                                class=" wp-post-image wp-image-381"
                                                                                title="logodesign" alt="logodesign"
                                                                                srcset="/static/images/r1.jpg 353w, /static/images/r1.jpg 300w"
                                                                                sizes="(max-width: 353px) 100vw, 353px" />
                                                                        </div>
                                                                        <!-- /image-wrap -->


                                                                    </div>
                                                                    <!-- /module image -->
                                                                </div>
                                                            </div>
                                                            <div style="width:34%;"
                                                                class="sub_column module_column col3-1 last sub_column_post_16 sub_column_10-0-0-1 tb_4w0v618">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div
                                                                        class="module module-text tb_dk4t618  repeat   tb_gs7795e5">
                                                                        <div class="tb_text_wrap">
                                                                            <h3>Logo Design</h3>
                                                                            <p>
                                                                                <!--</p>
<p>Nullam blandit, turpis et convallis consequat, mi lacus molestie neque, eu feugiat nisi est at tortor</p>
<p>-->
                                                                            </p>
                                                                            <p>We give you creative &#038; smart logo to
                                                                                grow your business.</p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                            <div
                                                class="module_column tb-column col4-2 last tb_16_column module_column_1 module_column_16-10-1 tb_eoa7686">
                                                <div class="tb-column-inner">
                                                    <div
                                                        class="themify_builder_sub_row module_subrow clearfix sub_row_10-1-0 tb_181j749">
                                                        <div class="subrow_inner gutter-none col_align_middle"
                                                            data-basecol="2" data-col_tablet="column4-2"
                                                            data-col_tablet_landscape="column3-2-3-1"
                                                            data-col_mobile="column4-2">
                                                            <div
                                                                class="sub_column module_column col3-2 first sub_column_post_16 sub_column_10-1-0-0 tb_xo1p751">
                                                                <div class="tb-column-inner">
                                                                    <!-- module image -->
                                                                    <div
                                                                        class="module module-image tb_u7qg147 rounded image-top    auto_fullwidth">
                                                                        <div class="image-wrap">
                                                                            <img src="/static/images/r2.jpg"
                                                                                width="353"
                                                                                class=" wp-post-image wp-image-306"
                                                                                title="graphicdesign"
                                                                                alt="graphicdesign"
                                                                                srcset="/static/images/r2.jpg 353w, /static/images/r2.jpg 300w"
                                                                                sizes="(max-width: 353px) 100vw, 353px" />
                                                                        </div>
                                                                        <!-- /image-wrap -->


                                                                    </div>
                                                                    <!-- /module image -->
                                                                </div>
                                                            </div>
                                                            <div
                                                                class="sub_column module_column col3-1 last sub_column_post_16 sub_column_10-1-0-1 tb_k7hy752">
                                                                <div class="tb-column-inner">
                                                                    <!-- module text -->
                                                                    <div
                                                                        class="module module-text tb_kmde829  repeat   tb_gs7795e5">
                                                                        <div class="tb_text_wrap">
                                                                            <h3>Graphic Design</h3>
                                                                            <p>
                                                                                <!--</p>
<p>Nullam blandit, turpis et convallis consequat, mi lacus molestie neque, eu feugiat nisi est at tortor</p>
<p>-->
                                                                            </p>
                                                                            <p>Our graphic design made your business
                                                                                very attractive.</p>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /module text -->
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div><!-- /themify_builder_sub_row -->
                                                </div>
                                            </div>
                                        </div>
                                        <!-- /row_inner -->
                                    </div>
                                    <!-- /module_row -->
                                </div>
                                <div style="margin-top: 70px;"></div>
                                <div class="module module-text tb_fvz6892    ">
                                    <div class="tb_text_wrap">
                                        <h2 style="text-align: center;">Our Customers</h2>
                                    </div>
                                </div>
                                <style>
                                    .dt {
                                        border: solid 2px black;
                                        border-radius: 10px;
                                        /* padding: 20px; */
                                    }
                                </style>
                                <div style="padding: 20px; text-align: center;">
                                    <div class="col3-1 first"  style="padding: 20px;">
                                        <img src="/static/images/customers/c3.jpg" class="dt" alt="">
                                    </div>
                                    <div class="col3-1" style="padding: 20px;">
                                        <img src="/static/images/customers/c2.jpg" class="dt" alt="">
                                    </div>
                        
                                    <div class="col3-1 " style="padding: 20px;">
                                        <img src="/static/images/customers/c4.jpg" class="dt" alt="">
                                    </div>
                                </div>
                                <div style="padding: 20px; text-align: center;">
                                    <div class="col3-1 first" style="padding: 20px;">
                                        <img src="/static/images/customers/c1.jpg" class="dt" alt="">
                                    </div>
                                    <div class="col3-1" style="padding: 20px;">
                                        <img src="/static/images/customers/c5.jpg" class="dt" alt="">
                                    </div>
                                
                                    <div class="col3-1 " style="padding: 20px;">
                                        <img src="/static/images/customers/c6.jpg" class="dt" alt="">
                                    </div>
                                </div>
                            </div>
                            <!-- /.post-content -->

                        </div><!-- /.type-page -->


                    </div>

                </div>
                <!-- /layout-container -->

            </div><!-- /body -->

        </div><!-- /#pagewrap -->

    </body>
    
    {% include 'footer.html' %}

</html>
